{% load static %}
{% load crispy_forms_tags %}

<html lang="fr">
  <head>
  	<!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'application/fonts/icomoon/style.css' %}">

        <link rel="stylesheet" href="{% static 'application/css/owl.carousel.min.css' %}">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'application/css/bootstrap.min.css' %}">

        <!-- Style -->
        <link rel="stylesheet" href="{% static 'application/css/style.css' %}">

        <title>Liste d'incivilités</title>
	</head>

	<body class="img js-fullheight" style="background-image: url('{% static 'application/images/home_page.jpg' %}')">

	<section style="padding: 6rem 0;">
		<div class="container">
			<div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h2 style="font-family: chapaza; color: white;">École Jean de La Fontaine élémentaire</h2>
            </div>
        </div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<form method="POST" class="signin-form">
					{% csrf_token %}
		      		<div class="form-group">
		      			<input type="text" name="username" class="form-control" placeholder="Identifiant" required>
		      		</div>
	            <div class="form-group">
	              <input id="password-field" name="password" type="password" class="form-control" placeholder="Mot de passe" required>
	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">SE CONNECTER</button>
	            </div>
	          </form>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

